[submodule "salamander"]
    path = salamander
    url = https://github.com/sfzinstruments/SalamanderGrandPiano.git

[submodule "splendid"]
	path = splendid
	url = https://github.com/sfzinstruments/SplendidGrandPiano.git
